.nav {
    grid-area: n;
    background-color: #458849;
    padding: 10px;
}

.nav img {
    width: 30px;
    height: auto;
    border-radius: 30px;
}

.friend {
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.item {
    color: white;
    text-decoration: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;

}

.active {
    color: rgba(241, 241, 40, 0.85);
    text-decoration: none;
}