.nav{
    grid-area: n;
    background-color: #458849;
    padding: 10px;
}

.item{
    color: white;
    text-decoration: none;
}

.active{
    color: rgba(241, 241, 40, 0.85);
    text-decoration: none;
}