.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.active{
    color: gold;
}

.dialog {

}



.message {

}

.sendform textarea{
    min-width: 250px;
    margin-top: 10px;
}
.sendform button{
    padding:10px;
    float: left;
}